#SDK_API_TOKEN=your_sdk_api_token_here
SDK_API_TOKEN=your_sdk_api_token_here
#SDK_API_TOKEN=your_sdk_api_token_here
#BOT_SLUG=your_bot_slug_here
#BOT_SLUG=your_bot_slug_here
BOT_SLUG=your_bot_slug_here
#BOT_SLUG=your_bot_slug_here
#BOT_SLUG=your_bot_slug_here
#BOT_SLUG=your_bot_slug_here
#BOT_SLUG=your_bot_slug_here
#BOT_SLUG=your_bot_slug_here

CHROME_EXECUTABLE_PATH=/usr/bin/google-chrome
MAP_ZOOM_LEVEL=18
IMAGE_QUALITY=0.8
IMAGE_FORMAT=jpeg
